# Python packages
qrcode
pygpgme


# Distribution packages:
# python-gi
# python-gi-cairo
# python-avahi
# python-gpgme #XXX: isn't this the same with 'pygpgme' from PyPI ?
# libgpgme
# python-dev #needed for Python.h if gpgme is not installed


# FIXME: these needs more testing
# libgpgme-dev
# libffi-dev
# libssl-dev
